@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.sliderimg {
  opacity: 0.8;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  object-fit: cover;
  margin-top: 20px;
}

.eu {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  border-radius: 50%;
  opacity: 0.8;
}
