@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.header {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin: auto;
}


.content {
  --fill-color: white;
padding-top: 250px;
font: 600 3.2rem Raleway, sans-serif;
text-decoration: none;
-webkit-text-stroke: 2px var(--fill-color);
color: transparent;
opacity: 0.8;
}


.clr {
  --fill-color: yellow;
  padding: 3px 0;
  font: 600 3.5rem Raleway, sans-serif;
  text-decoration: none;
  -webkit-text-stroke: 2px var(--fill-color);
  color: transparent;
  opacity: 0.8;
}

.work-btn {
  background:yellow;
  color:black;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  opacity: 0.8;
}
.work-btn:hover{
  background:black;
  color:white;
}
.work-btn:before, .work-btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: yellow;
  transition:400ms ease all;
}
.work-btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.work-btn:hover:before, button:hover:after{
  width:100%;
  transition:800ms ease all;
}

.bttn {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.info {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
  padding-top: 20px;
}

