  .topnav {
    color: transparent;
    overflow: hidden;
    opacity: 0.8;
    width: 100%;
  }
  
  .topnav p {
    display: inline-block;
    text-align: center;
    font-size: 17px;
    --fill-color: #c9e23b;
    padding: 8px 20px;
    font: 600 2rem Raleway, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--fill-color);
    background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
    color: transparent;
    background-clip: text;
    transition: 0.5s linear;
  }

  .topnav p:hover {
    background-size: 100%;
  }