.Header {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.Content {
    --fill-color: white;
  padding: 3px 0;
  font: 600 3rem Raleway, sans-serif;
  text-decoration: none;
  -webkit-text-stroke: 2px var(--fill-color);
  background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
  color: transparent;
  background-clip: text;
  transition: 0.5s linear;
  opacity: 0.8;
}

.eu {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 100px;
    border-radius: 50%;
    opacity: 0.8;
  }

  .topnav {
    background-color: #333;
    overflow: hidden;
    opacity: 0.8;
  }
  
  .topnav p {
    display: inline-block;
    text-align: center;
    font-size: 17px;
    --fill-color: #c9e23b;
    padding: 8px 10px;
    font: 600 2rem Raleway, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--fill-color);
    background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
    color: transparent;
    background-clip: text;
    transition: 0.5s linear;
  }

  .topnav p:hover {
    background-size: 100%;
  }