@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.Navbar {
  color: #198ce6;
  display: flex;
  width: fit-content;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: left;
  text-align: left;
  background-color: black;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

li {
  padding: 6px 0;

  --fill-color: #9da71c;
  position: relative;
  padding: 4px 0;
  font: 700 3rem Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-color);
  background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
  color: transparent;
  background-clip: text;
  transition: 0.5s linear;
}

li:hover {
  background-size: 100%;
}
