@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


.Navbar {
  display: flex;
  /* position: fixed; */
  width: auto;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20vh;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

li {
  --fill-color: #9da71c;
  /* position: relative; */
  padding: 6px 0;
  font: 600 3rem Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-color);
  background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
  color: transparent;
  background-clip: text;
  transition: 0.5s linear;
}

li:hover {
  background-size: 100%;
}
