.container-cv {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

.titles-cv2 {
  --fill-color: #c9e23b;
  font: 600 3rem Raleway, sans-serif;
  text-decoration: none;
  -webkit-text-stroke: 2px var(--fill-color);
  color: transparent;
  opacity: 0.8;
}

.titles-cv {
  color: #c9e23b;
  text-decoration: underline;
  font-style: italic;
}

.cv-title {
  height: 30vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: dotted 3px #c9e23b;
}

.cvImage {
  margin-left: 50px;
  border-radius: 60%;
}

.cv-header {
  margin-left: 30px;
}

.content-cv {
  width: 100%;
  display: flex;
}

.left {
  width: 40%;
  display: flex;
  flex-flow: column;
  font-size: larger;
  border-right: dotted 3px #c9e23b;
}

.left-side {
  display: flex;
  flex-flow: column;
  padding: 20px;
}

.right {
  width: 60%;
  display: flex;
  flex-flow: column;
  font-size: larger;
}

.right-side {
  display: flex;
  flex-flow: column;
  padding: 20px;
}