.sliderimg {
    opacity: 0.8;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 400px;
    object-fit: cover;
    margin-top: 50px;
  }

  .workp {
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 80px;
    opacity: 0.8;
  }